* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Side-links {
  color: #a4acc4;
  transition: 0.25s;
  text-decoration: none;
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
  width: 95%;
  background: linear-gradient(to right, #0d6dfd2f 50%, #1c1f2c 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.Side-links:hover {
  color: #0d6efd;
  background-position: left bottom;
}

.Side-links:focus {
  background-color: #0d6efd;
  color: #fff;
  background: linear-gradient(to right, #0d6efd 50%, #0d6efd 50%);
}

.Home-icons {
  color: #a4acc4;
  margin: 10px;
  padding: 0 12px;
  padding-top: 21px;
  padding-bottom: 9px;
  border: 1px solid #a4acc4;
  border-radius: 50%;
  transition: .3s ease;
}

.Home-icons:hover {
  color: #0d6efd;
  border-color: #0d6efd;
}

.Name {
  color: #0d6efd;
}

.VerticalLines {
  position: relative;
  left: 0;
}

.VerticalLines span {
  position: fixed;
  top: 0;
  width: 1px;
  background-color: rgba(46, 52, 78, .3);
  min-height: 100vh;
  height: 100%;
}

.UnderLine {
  height: 5px;
  background-color: #0d6dfd2f;
  width: 100px;
  border-radius: 3px;
  position: absolute;
  margin-top: 10px;
}

.UnderLine span {
  height: 100%;
  background-color: #0d6efd;
  width: 40%;
  border-radius: 3px;
  position: absolute;
}

.Cv a {
  background-color: #0d6efd;
  color: White;
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid #0d6efd
}

.Cv {
  padding-top: 25px;
  position: relative;
  height: 48px;
}

.skill-percent{
  height: 5px;
  background-color: #0d6dfd2f;
  width: 100%;
  border-radius: 3px;
  position: relative;
  display: block;
}

.skill-percent span{
  height: 5px;
  background-color: #0d6efd;
  border-radius: 3px;
  position: absolute;
}

.Link-Box{
  position: absolute;
  left: 100%;
  width: 90%;
  height: 90%;
  background-color: #1c1f2c89;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.Project-parent:hover .Link-Box{
  left: 5%;
}

.project-Name:hover{
  color: #0d6efd;
}

.project-Name{
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.input-field:focus{
  outline: none;
}

.Input-submit{
  color: #0d6efd;
  background-color: #10121b;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid #0d6efd;
  transition: all .5s ease;
}

.Input-submit:hover{
  color: #fff;
  background-color: #0d6efd;
}

#menu{
  position: fixed;
  top: 10px;
  background-color: #1c1f2c;
  border: 1px solid #2e344e;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease;
}

#menu span{
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 70%;
  transition: all .4s ease;
}